<div class="wrapper">
  <mat-card class="login-window">
    <h3>Login</h3>
    <form class="login-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput
               placeholder="Ex. pat@example.com">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput
               placeholder="Ex. pat@example.com">
      </mat-form-field>
    </form>
    <div class="button-wrapper">
      <button mat-stroked-button
              color="accent"
              class="basic">
        Login
      </button>
      <button mat-stroked-button
              color="primary"
              class="basic"
      >
        Sign up
      </button>
    </div>
  </mat-card>
</div>

