<mat-form-field class="global-search" appearance="fill">
  <mat-label>Search</mat-label>
  <input matInput type="text" placeholder="Search" [matAutocomplete]="auto" [formControl]="globalSearchInput">
  <mat-icon matPrefix>search</mat-icon>
  <button matSuffix mat-icon-button aria-label="Clear">
    <mat-icon (click)="clearSearch()">close</mat-icon>
  </button>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of searchedItems$ | async" [value]="option.name" (click)="navigateTo(option)">
      {{option.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
