<div class="side-nav">
  <div class="d-flex flex-direction-column list">
    <div mat-ripple class="list-item d-flex align-item-center"
         routerLink="task-list/income"
         routerLinkActive="active-link">
      <mat-icon class="icon blue">inbox</mat-icon>
      <a>Inbox</a>
    </div>
    <div mat-ripple class="list-item d-flex align-item-center"
         routerLink="task-list/today"
         routerLinkActive="active-link"
    >
      <mat-icon class="icon green">today</mat-icon>
      <a routerLink="task-list/today">Today</a>
    </div>
    <div mat-ripple class="list-item d-flex align-item-center"
         routerLink="task-list/upcoming"
         routerLinkActive="active-link">
      <mat-icon class="icon pink">next_week</mat-icon>
      <span>Upcoming</span>
    </div>
    <div mat-ripple class="list-item d-flex align-item-center">
      <mat-icon class="icon orange">apps</mat-icon>
      <span>Filters</span>
    </div>

    <mat-accordion>
      <mat-expansion-panel
                           class="mat-elevation-z0"
                           [togglePosition]="'before'"
                           (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>

          <mat-panel-title>
            <span class="left">Favorite</span>
          </mat-panel-title>

        </mat-expansion-panel-header>

        <div mat-ripple *ngFor="let item of favoriteProjects" class="expansion-list-item" (click)="navigateToProject()">
          {{item.name}}
          <div [style.background-color]="colors[item.color].color" class="color-dot"></div>
          <div class="more-icon" [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
            <mat-icon>more_vert</mat-icon>
          </div>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="updateProject.emit(item)">Update</button>
            <button mat-menu-item>Delete</button>
          </mat-menu>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel
        class="mat-elevation-z0"
        [togglePosition]="'before'"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>

          <mat-panel-title>
            <span class="left">Projects</span>
            <button mat-icon-button>
              <mat-icon (click)="createProject.emit()">add</mat-icon>
            </button>
          </mat-panel-title>

        </mat-expansion-panel-header>

        <div mat-ripple *ngFor="let item of allProjects" class="expansion-list-item" (click)="navigateToProject()">
          {{item.name}}
          <div [style.background-color]="colors[item.color].color" class="color-dot"></div>
          <div class="more-icon" [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
            <mat-icon>more_vert</mat-icon>
          </div>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="updateProject.emit(item)">Update</button>
            <button mat-menu-item>Delete</button>
          </mat-menu>
        </div>

      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>

