<mat-toolbar color="primary">
  <mat-toolbar-row class="d-flex space-between">
    <div class="d-flex align-item-center justify-content-center">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button type="button" mat-button (click)="goToAccount()">
        <mat-icon>home</mat-icon>
      </button>
      <h4 class="app-label">Todoid</h4>
      <app-global-search-input>
      </app-global-search-input>
    </div>

    <div class="d-flex align-item-center justify-content-center">
      <button type="button" mat-button (click)="addNewTask()">
        <mat-icon>add_box</mat-icon>
      </button>
      <button type="button" mat-button (click)="goToAccount()">
        <mat-icon>account_box</mat-icon>
      </button>
      <button type="button" mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="content-container" autosize>
  <mat-drawer #drawer class="sidebar" mode="side" opened>
    <app-side-nav role="navigation"
                  (createProject)="onCreateProject()"
                  (updateProject)="onUpdateProject($event)"
                  (deleteProject)="onDeleteProject($event)"
                  [favoriteProjects]="projectService.favoriteProjects$ | async"
                  [allProjects]="projectService.allProjects$ | async"
    >
    </app-side-nav>
  </mat-drawer>
  <div class="sidenav-content">
    <router-outlet>
    </router-outlet>
  </div>

</mat-drawer-container>

