.app-label {
  font-family: AlmaSans, serif;
  font-weight: bold;
  margin-left: 40px;
}

.global-search {
  font-size: 12px;
  margin-top: 15px;
  margin-left: 70px;
  width: 280px;
}

.sidebar {
  display: flex;
  width: 260px;
}
.sidenav-content {
  background-color: rgba(42, 39, 39, 0.71);
}
