.app-label {
  font-family: AlmaSans, serif;
  font-weight: bold;
  margin-left: 40px;
}

.global-search {
  font-size: 12px;
  margin-top: 15px;
  margin-left: 70px;
  width: 280px;
}

.sidebar {
  display: flex;
  width: 260px;
}
.sidenav-content {
  padding: 30px 0px;
  height: calc(100vh - 65px);
  max-width: 900px;
  margin: 0 auto;
}
